.container{
  background-color: #8B1E1E;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

input{
  width: 25vw;
  height: 5vh;
  min-width: 26vh;
  color: #8B1E1E;
  font-weight: bolder;
  background-color: #5e1010;
  border-radius: 2px;
  padding: 3vh;
  border: transparent;
}
input:focus{
  border-color: #8B1E1E;
}
.btn1{
  margin-left: 1vw;
  color: aliceblue;
  background-color: #f88609;
  border: transparent;
  padding: 10px;
  border-radius: 4px;
  
}
.btn2{
  margin-left: 1vw;
  color: aliceblue;
  background-color: #f88609;
  border: transparent;
  padding: 10px;
  border-radius: 4px;
}
.btn1 and .btn2:hover{
  background-color: #f0a170;
}
.btn_user{
  margin: 10px;
  cursor: pointer;
  font-size: 25px;
  border:none;
  background-color: transparent;
  color: #f88609;
  background: transparent;
  min-width: 40px;
  
}